<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="header" class="flex bg-green-950 justify-center">
      <h1 class="text-slate-100 text-5xl font-ral p-4">Messages Board</h1>
    </div>
    <div class="flex justify-center h-full">
      <form
        method="POST"
        class="flex flex-col bg-slate-100 p-10 gap-2"
        ,action="/new"
      >
        <h1 class="text-3xl">Add New Message</h1>
        <label for="user">User</label>
        <input type="text" name="messageUser" id="user" />
        <label for="messsageText">Message</label>
        <input type="text" name="messageText" id="message" />
        <button type="submit" class="border-2">Submit</button>
      </form>
    </div>
  </body>
</html>
